In [3]:
import numpy as np
import pandas as pd
import os

In [11]:
f=open('train.tsv','r',encoding='utf8')

In [27]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [15]:
f.readline().split('\t')

['2',
 'AVA-VIV Blouse',
 '1',
 'Women/Tops & Blouses/Blouse',
 'Target',
 '10.0',
 '1',
 'Adorable top with a hint of lace and a key hole in the back! The pale pink is a 1X, and I also have a 3X available in white!\n']

In [16]:
pd.DataFrame?

In [17]:
data=pd.DataFrame(columns=['train_id','name','condition_id','category_name','brand_name','price','shipping','item_description'])

In [52]:
data.tail()

,train_id,name,condition_id,category_name,brand_name,price,shipping,item_description
1482531,1482530,Free People Inspired Dress,2,Women/Dresses/Mid-Calf,Free People,20.0,1,"Lace, says size small but fits medium perfectl..."
1482532,1482531,Little mermaid handmade dress,2,Kids/Girls 2T-5T/Dresses,Disney,14.0,0,Little mermaid handmade dress never worn size 2t
1482533,1482532,21 day fix containers and eating plan,2,Sports & Outdoors/Exercise/Fitness accessories,NaN,12.0,0,"Used once or twice, still in great shape."
1482534,1482533,World markets lanterns,3,Home/Home Décor/Home Décor Accents,NaN,45.0,1,There is 2 of each one that you see! So 2 red ...
1482535,1482534,Brand new lux de ville wallet,1,Women/Women's Accessories/Wallets,NaN,22.0,0,"New with tag, red with sparkle. Firm price, no..."

In [55]:
def tryconvertInt(value):
    try:
        return np.uint32(value)
    except TypeError:
        return -1
    except ValueError:
        return -1

In [56]:
def tryconvertFloat(value):
    try:
        return np.float32(value)
    except TypeError:
        return -1.0
    except ValueError:
        return -1.0

In [57]:
converters={'train_id': lambda x: tryconvertInt(x),'condition_id': lambda x: tryconvertInt(x),'price': lambda x: tryconvertFloat(x),'shipping': lambda x: tryconvertInt(x)}
data=pd.read_csv('train.tsv',sep='\t',encoding='utf8',names=['train_id','name','condition_id','category_name','brand_name','price','shipping','item_description'],
                 dtype={'name':'str','category_name':'str','brand_name':'str','item_description':'str'},converters=converters)

In [53]:
data[data['train_id']==0].count()

train_id            2
name                2
condition_id        2
category_name       2
brand_name          1
price               2
shipping            2
item_description    2
dtype: int64

In [58]:
print('train_id')
print(data[data['train_id']==-1]['train_id'].count())
print('condition_id')
print(data[data['condition_id']==-1]['condition_id'].count())
print('price')
print(data[data['price']==-1]['price'].count())
print('shipping')
print(data[data['shipping']==-1]['shipping'].count())

train_id
1
condition_id
1
price
1
shipping
1

In [65]:
data=data[((((data.price!=-1)& data.condition_id!=-1) & data.train_id != -1) & data.shipping != -1)]

In [67]:
data.head()

,train_id,name,condition_id,category_name,brand_name,price,shipping,item_description
0,-1,name,-1,category_name,brand_name,-1.0,-1,item_description
1,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
2,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
3,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
4,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...